<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightgray">
    <form>
        <div class="mb-3">
            <label for="sid" class="form-label">ID</label>
            <input type="number" class="form-control" id="sid" name="ID">
        </div>
        <div class="mb-3">
            <label for="BrandName" class="form-label">Brandname</label>
            <input type="text" class="form-control" id="BrandName" name="Brandname">
        </div>
        <div class="mb-3">
            <label for="ProductName" class="form-label">Productname</label>
            <input type="text" class="form-control" id="ProductName" name="Productname">
        </div>
        <div class="mb-3">
            <label for="EntryDate" class="form-label">Entrydate</label>
            <input type="date" class="form-control" id="EntryDate" name="Entrydate">
        <div>
        <div class="mb-3">
            <label for="StockKg" class="form-label">stockkg</label>
            <input type="number" class="form-control" id="StockKg" name="stockkg">
        </div>
        <div class="mb-3">
            <label for="PriceKg" class="form-label">Pricekg</label>
            <input type="number" class="form-control" id=PriceKg" name="Pricekg">
        </div>
        <div class="mb-3">
            <label for="Discount" class="form-label">discount</label>
            <input type="number" class="form-control" id="Discount" name="discount">
        </div>
        <div class="mb-3">
            <label for="FinalPrice" class="form-label">finalprice</label>
            <input type="number" class="form-control" id="FinalPrice" name="Finalprice">
        </div>
        
            <button type="Submit">Insert</button>
        </div>
    </form>
</body>
</html>